/* Summer Mode */
/* Iniciando meu primeiro arquivo CSS */
body {
  background: rgb(255, 245, 249);
  background: -moz-linear-gradient(
    90deg,
    rgb(255, 245, 245) 0%,
    rgb(94, 97, 248) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgb(77, 39, 54) 0%,
    rgba(147, 195, 255, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 245, 249, 1) 0%,
    rgba(147, 195, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff5f9", endColorstr="#93c3ff", GradientType=1);
  margin: 0;
  padding: 0;
  background-size: cover;
}

.container {
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
  padding: 16px;
}

.language-switch {
  margin-bottom: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.destaque {
  color: red;
}

.profile {
  margin-top: 50px;
}

.profile__header img {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  margin: 0 auto 24px auto;
  box-shadow: 5px 5px 13px 7px black;
}

.profile__header {
  background: rgb(34, 193, 195);
  background: radial-gradient(
    circle,
    rgba(35, 132, 243, 0.801) 0%,
    rgba(80, 253, 123, 0.397) 100%
  );
  border-radius: 15px;
  align-items: center;
  position: static;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  box-shadow: 5px 5px 5px 5px rgba(34, 192, 195, 0.322);
}

.profile__header h2 {
  font-weight: 400;
  margin: 0;
  text-shadow: 0, 5px 0, 5px 0, 5px black;
}

.profile__header h1 {
  margin: 0;
  text-shadow: 0, 5px 0, 5px 0, 5px black;
}

.profile__header,
.profile__about {
  text-align: center;
}

.profile__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
  padding: 16px;
}

.profile__about div {
  margin: auto;
}

.profile__about p {
  width: 100%;
  max-width: 650px;
  text-align: center;
  font-size: 20px;
}

.profile__about .destaque {
  color: white;
}

a.destaque {
  color: blue;
}

.links ul {
  list-style: none;
  padding: 0;
}

.links a {
  display: flex;
  height: 56px;
  border: solid #444 2px;
  border-radius: 10px;
  text-decoration: none;
  padding: 0 24px;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  transition: all 0.3s ease;
  background-color: azure;
  box-shadow: 3px 3px 3px 3px black;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.links a:hover {
  border: solid #444 2px;
  color: #e5f080;
  background-color: rgb(146, 206, 203);
  background: rgb(34, 193, 195);
  background: radial-gradient(
    circle,
    rgba(48, 210, 212, 0.801) 0%,
    rgba(207, 255, 153, 0.726) 100%
  );
  box-shadow: 0px 0px 15px 15px rgba(34, 192, 195, 0.322);
}

.links__itens {
  width: 100%;
  text-align: center;
}

.footer {
  font-size: 15px;
}
/* Media queries para responsividade */
@media screen and (max-width: 768px) {
  .profile {
    margin-top: 20px;
  }
  .profile__about p {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .profile__header img {
    max-width: 150px;
  }
  .profile__about p {
    font-size: 16px;
  }
  .links a {
    height: 48px;
    border-radius: 15px;
  }
}
